/* --- CATPPUCCIN MOCHA --- */

@define-color bar-bg rgba(30, 30, 46, 0.90);
/* Base #1e1e2e */
@define-color text-primary #cdd6f4;
/* Text */
@define-color text-secondary #a6adc8;
/* Subtext0 */

@define-color accent #cba6f7;
/* Mauve (Classic Mocha Accent) */
@define-color urgent #f38ba8;
/* Red */

@define-color tooltip-bg rgba(30, 30, 46, 0.95);
@define-color tooltip-border rgba(203, 166, 247, 0.20);
