[Unit]
Description=Start Hyprland
After=graphical-session-pre.target

[Service]
ExecStart=/usr/bin/Hyprland
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
